<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities For Type</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Id</th>
        <th>Type Id</th>
        <th>Group</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Calories</th>
        <th>Distance</th>
        <th>Duration</th>
        <th>Manual</th>
        <th>Steps</th>
    </tr>
    <tr th:each="act : ${activitiesForId}">
        <td th:text="${act.getAct_id()}"></td>
        <td th:text="${act.getType().getTypeID()}"></td>
        <td th:text="${act.getAct_group()}"></td>
        <td th:text="${act.getStartTime()}">Age</td>
        <td th:text="${act.getEndTime()}"></td>
        <td th:text="${act.getCalories()}"></td>
        <td th:text="${act.getDistance()}"></td>
        <td th:text="${act.getDuration()}"></td>
        <td th:text="${act.getManual()}"></td>
        <td th:text="${act.getSteps()}"></td>
    </tr>
</table>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>
