<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Log</title>
</head>
<body>
<h1> Add new Date Log</h1>
<form action="#" th:action="@{/records/add-record}" th:object="${newLog}" method="post">
    <p>Date(mm/dd/yyyy): <input type="text" th:field="*{mm}" />
        <input type="text" th:field="*{dd}" />
        <input type="text" th:field="*{yyyy}" /></p>
    <p>Calories Idle: <input type="text" th:field="*{caloriesIdle}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
